.numberSelectorContainer > button:nth-child(1) {
  cursor: default;
}

button.goodMove {
  /* background-color: lime; */
  font-weight: normal;
  animation: hintBounce 10s infinite;
  animation-delay: 1s;
  transform: none;
}

button.goodMove:hover {
  animation: none;
}

@keyframes hintBounce {
  0%   {transform: translateY(0)}
  96%   {transform: translateY(0)}
  97%  {transform: translateY(-2px)}
  98%   {transform: translateY(0)}
  99%  {transform: translateY(-1px)}
  100%   {transform: translateY(0)}
}